<meta charset="utf-8">
<title>Tribook Alquiler temporario de pisos</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="keywords" content="alquiler temporario, pisos turísticos, apartamentos vacacionales, alquiler turístico, alquiler por días, alquiler turístico Madrid, alquiler turístico Barcelona, alojamiento temporario, vacaciones, turismo, alquiler de pisos en ciudades">
<meta name="description" content="Encuentra y reserva pisos turísticos en las principales ciudades para tus vacaciones. Ofrecemos alquiler temporario de apartamentos en Madrid, Barcelona, y más, con opciones ideales para estancias cortas. Disfruta de tu viaje con la comodidad de un hogar.">

<!-- Favicons -->
<link href="/img/logo1.ico" rel="icon" type="image/x-icon">
<link href="/img/logo.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet">