 <!--/ Form Search Star /-->
 <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Buscar propiedad</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form action="/search" class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="priceMax">Precio máximo</label>
              <input type="number" name="priceMax" id="priceMax" class="form-control form-control-lg form-control-a">
            </div>
          </div>
          <!-- <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">Type</label>
              <select class="form-control form-control-lg form-control-a" id="Type">
                <option>All Type</option>
                <option>For Rent</option>
                <option>For Sale</option>
                <option>Open House</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">City</label>
              <select class="form-control form-control-lg form-control-a" id="city">
                <option>All City</option>
                <option>Alabama</option>
                <option>Arizona</option>
                <option>California</option>
                <option>Colorado</option>
              </select>
            </div>
          </div> -->
          
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Buscar apartamento</button>
          </div>
        </div>
      </form>
    </div>
  </div> 
  <!--/ Form Search End /-->