<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <main>
        <form action="/search" method=" "GET">
            <input type="number" name="priceMax" id="priceMax" placeholder="Buscar por precio máximo">
            <input type="submit" value="Buscar">
        </form>
        <% for (const ap of apartments) { %>
            <a href="/apartment/<%= ap._id %>">
                <article>
                    <header>
                        <%= ap.title %>
                    </header>
                    <div><img src="<%= ap.mainPhoto %>" alt=""></div>
                    <footer>
                        <%= ap.price %> € por noche
                    </footer>
                </article>
            </a>
            <% } %>
</body>
</html>